# Ignore build, install, and log spaces
/build/
/install/
/log/

# Ignore common IDE and system files
.vscode/
*.swp
*~

# Ignore all packages in the src directory by default
/src/*

# Explicitly UN-ignore main packages
!/src/barrier_control/
!/src/bravo_amr/
